<footer class="footer">
    <div class="footer_bar">
        <div style="color: black; text-align: center;">
        </br>Copyright ©Bond Pharmacy @ 2023 . All rights reserved.</br></br>
    </div>
    </div>
</footer>