<div class="site-navbar py-2">

    <div class="search-wrap">
      <div class="container">
        <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
        <form action="#" method="post">
          <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
        </form>
      </div>
    </div>

    <div class="container-fluid">
      <div class="d-flex align-items-center justify-content-between">
        <div class="logo">
          <div class="site-logo">
            <a href="/cashier/deliveries" class="js-logo-clone"><h1>BOND</h1></a>
          </div>
        </div>
        <div class="main-nav d-none d-lg-block">
          <nav class="site-navigation text-right text-md-center" role="navigation">
            <ul class="site-menu js-clone-nav d-none d-lg-block">
              <li><a href="/cashier/deliveries">Deliveries</a></li>
              <li><a href="/cashier/orders">Orders</a></li>
              <div class="shorte">
                <ul class="site-menu js-clone-nav d-none d-lg-block">
                  <li class="shorte"><a href="/cashier_logout">Log Out</a></li>
              </ul>
              </div>
            </ul>
          </nav>
        </div>
        <div class="icons">

          <div class="d-inline-block bag">
            <a class="longe" href="/cashier_logout"><input type="submit" class="btn btn-black" value="Log Out"></a>
          </div>
          <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
              class="icon-menu"></span></a>
        </div>
      </div>
    </div>
  </div>