<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include ("partials/head.ejs") %>
  </head>
  
  <body>
  
    <div class="site-wrap">
  
      <%- include ("partials/header.ejs") %>

    <div class="site-blocks-cover inner-page" style="background-image: url('images/hero_1.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mx-auto align-self-center">
            <div class=" text-center">
              <h1 style="color: black;">About Us</h1>
              <p style="color: black;">Welcome to our pharmacy! We are a licensed healthcare facility dedicated to providing our clients with top-quality pharmaceutical care and services. Our experienced pharmacists are committed to ensuring the safe and effective use of medications, and are always available to answer any questions or concerns you may have.</p> 
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6">
            <div class="block-16">
              <figure>
                <img src="images/bg_1.jpg" alt="Image placeholder" class="img-fluid rounded">
                <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span
                    class="icon-play"></span></a>
    
              </figure>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
    
    
            <div class="site-section-heading pt-3 mb-4">
              <h2 class="text-black">How We Started</h2>
            </div>
            <p>Our founder, a dedicated pharmacist with years of experience in the field, saw a need for a pharmacy that focused on building strong relationships with patients and delivering individualized care. Through hard work and determination, our pharmacy was born and has since grown to become a trusted healthcare provider in the community.</p>
            <p>As we continue to grow and evolve, our commitment to our clients remains the same. We strive to provide exceptional service, expert advice, and a wide range of products and services that meet the unique needs of each and every one of our clients.</p>
    
          </div>
        </div>
      </div>
    </div>

    

    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 order-md-2">
            <div class="block-16">
              <figure>
                <img src="images/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded">
                <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span
                    class="icon-play"></span></a>
    
              </figure>
            </div>
          </div>
          <div class="col-md-5 mr-auto">
    
    
            <div class="site-section-heading pt-3 mb-4">
              <h2 class="text-black">We Are a Trusted Store</h2>
            </div>
            <p class="text-black">At our pharmacy, we pride ourselves on our commitment to quality. All of our products are sourced from reputable manufacturers and undergo rigorous testing to ensure their safety and effectiveness. Our experienced pharmacists are also always available to answer any questions or concerns you may have about your medications.</p>
            <p class="text-black">Thank you for choosing our pharmacy as your trusted healthcare partner. We are dedicated to helping you achieve optimal health and wellbeing, and look forward to serving you for many years to come.</p>
    
          </div>
        </div>
      </div>
    </div>


    <div class="bg-primary">
      <%- include ("partials/footer.ejs") %>
  </div>
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>

</body>

</html>