<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/admin/index">BOND</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/admin/index">Dashboard</a></li>
        <li><a href="/admin/add_product">Add product</a></li>
        <li><a href="/admin/products">Products</a></li>
        <li><a href="/admin/inventory">Inventory</a></li>
        <li><a href="/admin/users">Users</a></li>
        <li><a href="/admin/sales">Sales</a></li>
        <li><a href="/admin/support">Support</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Welcome, Admin</a></li>
        <li><a href="/admin_logout">Logout</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>